<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">My Angular App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="nav navbar-nav navbar-left">
            <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a class="nav-link" [routerLink]="['/']">Home <span></span></a>
            </li>
        </ul>

        <div class="form-group navbar-nav ml-auto">
            <input type="text" class="form-control" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="search products">
        </div>
        <span class="fas fa-search search-icon"></span>
        <button *ngIf="isLoggedIn" routerLink="/cart" class="btn btn-default navbar-right">
            <i style="font-size:18px;" class="fas fa-cart-plus"></i>
            <div style="font-size:10px;" class="badge bg-info">{{totalItem}}</div>
        </button>
        <button *ngIf="!isLoggedIn" routerLink="/login" class="btn btn-default navbar-right">
            <i style="font-size:18px;" class="fas fa-cart-plus"></i>
            <div style="font-size:10px;" class="badge bg-info">{{totalItem}}</div>
        </button>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" *ngIf="!isLoggedIn" [routerLinkActive]=" [ 'active'] " [routerLinkActiveOptions]="{exact:true} ">
                <a class="nav-link " [routerLink]="[ '/login'] ">Login </a>
            </li>
            <li class="nav-item " [routerLinkActive]="[ 'active'] " [routerLinkActiveOptions]="{exact:true} ">
                <a class="nav-link " [routerLink]="[ '/register'] ">Register</a>
            </li>
            <li class="nav-item " *ngIf="isLoggedIn">
                <a class="nav-link " (click)="onLogoutClick() " href="# ">Logout</a>
            </li>
        </ul>

    </div>
</nav>