.form-control {
    border-radius: 3px;
    width: 300px;
    right: 600px;
    margin-top: 10px;
}

.search-icon {
    position: absolute;
    z-index: 10;
    left: 805px;
    top: 28px;
    color: #777;
    font-size: large;
}

.btn.btn-default {
    position: relative;
    margin-top: 10px;
    margin-right: 20px;
}

.btn.btn-default:focus {
    outline: none;
    box-shadow: none;
}

.btn.btn-default:hover {
    background-color: #5b5b5b;
}

.badge {
    color: #e50914;
}